@font-face {
    font-family: 'MontserratRegular';
    src: url('/mala-dist/assets/fonts/regular/Montserrat-Regular.woff2') format('woff2'),
        url('/mala-dist/assets/fonts/regular/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MontserratBlack';
    src: url('/mala-dist/assets/fonts/black/Montserrat-Black.woff2') format('woff2'),
        url('/mala-dist/assets/fonts/black/Montserrat-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MontserratBold';
    src: url('/mala-dist/assets/fonts/bold/Montserrat-Bold.woff2') format('woff2'),
        url('/mala-dist/assets/fonts/bold/Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}